<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * MTAF Simplified
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to vash.igor(at)gmail.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * The Original Work is provided under this License on an "AS IS" BASIS and WITHOUT WARRANTY,
 * either express or implied, including, without limitation, the warranties of non-infringement,
 * merchantability or fitness for a particular purpose.
 *
 * @category    tests
 * @package     selenium
 * @subpackage  tests
 * @author      Igor Tkachenko <vash.igor(at)gmail.com>
 * @copyright   Copyright (c) 2013 Igor Tkachenko (https://github.com/vashigor/taf)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="false"
         verbose="true">
    <testsuites>
        
        <testsuite name="Order Tests">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/Order</directory>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Order/AuthorizeNet</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Order/PayFlowProVerisign</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Order/PayPalDirect</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Order/PayPalDirectUk</exclude>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Order/Create/ShippingMethodsTest.php</exclude>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/Order/Create/ShippingMethodsTest.php</file>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Order/SavedCC/MaestroCreditCardTest.php</exclude>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Order/SavedCC/NewCustomerWithSimpleSmokeTest.php</exclude>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/Order/SavedCC/NewCustomerWithSimpleSmokeTest.php</file>
        </testsuite>
        
        <testsuite name="Checkout Onepage Tests">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage</directory>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/Existing/PaymentMethodsTest.php</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/Existing/ShippingMethodsTest.php</exclude>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/Existing/PaymentMethodsTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/Existing/ShippingMethodsTest.php</file>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/Guest/PaymentMethodsTest.php</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/Guest/ShippingMethodsTest.php</exclude>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/Guest/PaymentMethodsTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/Guest/ShippingMethodsTest.php</file>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/LoggedIn/PaymentMethodsTest.php</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/LoggedIn/ShippingMethodsTest.php</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/LoggedIn/CheckingValidationTest.php</exclude>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/LoggedIn/PaymentMethodsTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/LoggedIn/ShippingMethodsTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Community1800/Mage/CheckoutOnePage/LoggedIn/CheckingValidationTest.php</file>
            
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/WithRegistration/PaymentMethodsTest.php</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/WithRegistration/ShippingMethodsTest.php</exclude>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/CheckoutOnePage/WithRegistration/CheckingValidationTest.php</exclude>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/WithRegistration/PaymentMethodsTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Simplified/Mage/CheckoutOnePage/WithRegistration/ShippingMethodsTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Community1800/Mage/CheckoutOnePage/WithRegistration/CheckingValidationTest.php</file>
        </testsuite>
        
        <testsuite name="Category">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/Category</directory>
            <exclude>[PATH_TO_MTAF]testsuite/Core/Mage/Category/MoveTest.php</exclude>
        </testsuite>
        
        <testsuite name="Customer">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/Customer</directory>
        </testsuite>
        
        <testsuite name="Product">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Simplified/Mage/Product</directory>
            <file>[PATH_TO_MTAF]testsuite/Core/Mage/DeleteTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Core/Mage/DuplicateTest.php</file>
        </testsuite>
        
        <testsuite name="Product Attributes">
            <file>[PATH_TO_MTAF]testsuite/Core/Mage/ProductAttribute/Create/CreateFromProductPageTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Core/Mage/ProductAttribute/Create/FPTTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Core/Mage/ProductAttribute/Create/MediaImageTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Core/Mage/ProductAttribute/Create/MultiSelectTest.php</file>
            <file>[PATH_TO_MTAF]testsuite/Core/Mage/ProductAttribute/Create/DeleteTest.php</file>
        </testsuite>
        
        <testsuite name="Cms Pages">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/CmsPages</directory>
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/CmsStaticBlocks</directory>
        </testsuite>
        
        <testsuite name="Price rules">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/PriceRules</directory>
        </testsuite>
        
        <testsuite name="Tax">
            <directory suffix="Test.php">[PATH_TO_MTAF]testsuite/Core/Mage/Tax</directory>
        </testsuite>
        
    </testsuites>
    <logging>
        <log type="json" target="var/logs/logfile.json"/>
        <log type="tap" target="var/logs/logfile.tap"/>
        <log type="junit" target="var/logs/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="var/logs/testdox.html"/>
        <log type="testdox-text" target="var/logs/testdox.txt"/>
    </logging>
</phpunit>
